# calculates dependencies for a Gradle build-target and submits the list to the Dependency Submission API.

on:
  push:
    branches:
      - master

jobs:
  update_gradle_dependencies:
    runs-on: ubuntu-latest
    permissions: # The Dependency Submission API requires write permission
      contents: write
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4

      - name: Gradle Dependency Submission
        uses: mikepenz/gradle-dependency-submission@v0.9.0
